---
import { getCollection } from "astro:content";

import { Image } from "astro:assets";
import { marked } from "marked";

let products = (await getCollection("products"))
  .filter((p) => p.data.status == "active")
  .map((p) => {
    p.rendered = marked.parse(p.body.replace(/ø/i, "&oslash;"));
    return p;
  })
  .sort((a, b) => a.data.title.localeCompare(b.data.title))
// .slice(200, 300);

// let essays = (await getCollection("essays"))
//   .filter(p=> p.data.status = 'published')
//   .map((p) => {
//     p.rendered = marked.parse(p.body.replace(/ø/i, "&oslash;"));
//     return p;
//   })
  



const groups = Object.groupBy(products, ({ data }) => data.product_type);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style>
      :root {
        --caps-letter-spacing: 0;
        --color: rgb(0, 0, 0);
      }

      * {
        box-sizing: border-box;
      }

      @page {
        size: Letter;
        margin-top: 0.25in;
        margin-bottom: 0.25in;
        margin-left: 0.25in;
        margin-right: 0.25in;

        border: 2pt double black;
        padding: 2rem;

        @top-center {
          content: "~ " counter(page) " ~";
          font-size: 9pt;
          font-style: italic;
        }
      }

      @page newchapter {
        size: Letter;
        @top-center {
          content: " ";
        }
      }

      html {
        hyphens: auto;
        font-size: 9pt;
        color: var(--color);
        font-family: "Courier New", Courier, monospace;
        height: 100%;
      }

      body {
        height: 100%;
      }

      section {
        column-count: 2;
        column-gap: 4em;
        page-break-after: always;
      }

      article {
        margin: 1rem 1rem;
        display: block;
        break-inside: avoid-page;
        /* break-inside: avoid-column; */
        orphans: 3;
        widows: 4;
        width: 100%;
        clear: both;
      }
      article h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-family: Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2ch;
      }
      article .img-bg {
        width: 55%;
        outline-style: solid;
        outline-width: 1pt;
        margin: 0 1rem 0rem 0;
        float: left;
        /* background-color: var(--color); */
      }
      article img {
        width: 100%;
        /* mix-blend-mode: screen; */
        /* filter: grayscale(100%) contrast(180%); */
        opacity: 1;
        display: block;
        max-width: 100%;
      }

      .meta {
        font-size: 80%;
        margin-bottom: 2rem;
      }

      .materials {
        font-style: italic;
      }

      .provenance {
        font-weight: bold;
        text-transform: uppercase;
      }

      .description > p {
        clear: both;
      }

      article::after {
        content: "~~~ ~~~ ~~~";
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 2rem;
      }

      a {
        color: black;
        text-decoration: underline;
      }

      a.xref {
        display: block;
        text-decoration: none;
        width: 100%;
        border-bottom: 0.8pt dotted black;
      }

      a.xref:after {
        content: "pg " target-counter(attr(href, url), page) "";
        float: right;
      }

      .newchapter {
        column-span: all;
        height: 100%;
        width: 100%;
        /* border: 10px dotted black; */
        display: block;
      }
      .newchapter h2 {
        height: 100%;
        margin: 50% auto;
        text-align: center;
        font-size: 3em;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: bold;
      }

      header {
        column-span: all;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        font-family: Helvetica, sans-serif;
      }

      .group:after {
        content: "";
        display: table;
        clear: both;
      }
      @media print {
        .newchapter {
          page: newchapter;
        }

        hr {
          display: none;
        }
        astro-dev-toolbar {
          display: none;
        }
      }
    </style></head>

  <body class="font-serif text-gray-900 bg-gray-100">
    <main>
      {
        Object.entries(groups).map((title) => (
          <>
            <section>
              <div class="newchapter">
                <h2 class="font-sans text-3xl">{title[0]}</h2>
              </div>
            </section>
            <section>
              {groups[title[0]].map((product) => (
                <>
                  <article class="thing group">
                    <a name={product.data.handle} />
                    <div class="img-bg">
                      {product.data.images[0] && (
                        <Image
                          width={300}
                          height={300}
                          src={product.data.images[0].src}
                          alt={product.data.title}
                        />
                      )}
                    </div>
                    <h3 class="font-sans">{product.data.title}</h3>
                    <div class="meta">
                      {product.data.dimensions && <span class="dimensions">{product.data.dimensions}</span><br />}                      
                      {product.data.dimensions && <span class="materials">{product.data.materials}</span><br>}
                      {product.data.dimensions && <span class="provenance font-bold">{product.data.provenance}</span>}
                    </div>
                    <div class="description" set:html={product.rendered} />
                  </article>
                  <hr class="print:hidden" />
                </>
              ))}
            </section>
          </>
        ))
      }


      <section>
        <div class="newchapter">
          <h2>The Index</h2>
        </div>
      </section>
      <section class="index">
        {
          products.map((p) => (
            <a class="xref" href={`#${p.data.handle}`}>
              {p.data.title}
            </a>
          ))
        }
      </section>
    </main>
  </body>
</html>
