---
import { getCollection } from "astro:content";

import { Image } from "astro:assets";
import { marked } from "marked";
import { prefetch } from "astro:prefetch";

const title = "KIOSK: The Book";

let products = (await getCollection("products"))
  .filter((p) => p.data.status == "active")
  .map((p) => {
    p.rendered = marked.parse(p.body);
    return p;
  })
  .sort((a, b) => a.data.title.localeCompare(b.data.title))
  .slice(200, 300);
---

<!doctype html>
<html lang="en">
  <head>
    <meta encoding="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <defs>
      <style>
        .cls-1,
        .cls-12,
        .cls-2,
        .cls-3,
        .cls-4 {
          fill: #231f20;
        }

        .cls-2,
        .cls-3,
        .cls-4 {
          font-size: 8px;
        }

        .cls-2 {
          font-family:
            ArialNarrow-BoldItalic,
            Arial Narrow;
          font-style: italic;
        }

        .cls-2,
        .cls-4 {
          font-weight: 700;
        }

        .cls-3 {
          font-family:
            ArialNarrow,
            Arial Narrow;
        }

        .cls-4 {
          font-family:
            ArialNarrow-Bold,
            Arial Narrow;
        }

        .cls-5,
        .cls-6 {
          fill: none;
        }

        .cls-5 {
          stroke: #231f20;
          stroke-width: 0.5px;
        }

        .cls-6 {
          stroke: #000;
        }

        .cls-7 {
          font-size: 13px;
          fill: #d2232a;
          font-family:
            Helvetica,
            Helvetica Neue,
            ArialNarrow,
            Arial Narrow;
        }

        .cls-8 {
          letter-spacing: 0.01em;
        }

        .cls-9 {
          letter-spacing: 0.01em;
        }

        .cls-10 {
          letter-spacing: 0.01em;
        }

        .cls-11 {
          letter-spacing: 0.01em;
        }

        .cls-12 {
          font-size: 8px;
          font-family:
            Courier,
            Courier New;
        }

        .cls-13 {
          letter-spacing: 0.01em;
        }

        .cls-14 {
          letter-spacing: 0.01em;
        }

        .cls-15 {
          letter-spacing: 0.01em;
        }

        .cls-16 {
          letter-spacing: 0.01em;
        }

        .cls-17 {
          letter-spacing: 0em;
        }
        p {
            padding: 1px 0;
        }
      </style>
    </defs>
    {
      products.map((product) => (
        <>
          <svg
            id={product.data.handle}
            data-name={product.data.handle}
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 424.83 550"
          >
            <text class="cls-2" transform="translate(374.5 299.63)">
              above
            </text>
            <text class="cls-3" transform="translate(393.46 299.63)">
              <tspan xml:space="preserve"> the upper </tspan>
            </text>
            <>
              <path
                class="cls-1"
                d="M461,419.33l.62.19a2.55,2.55,0,0,1-.72,1.44,1.77,1.77,0,0,1-1.26.48,1.91,1.91,0,0,1-1.11-.32,2.28,2.28,0,0,1-.76-1,4.26,4.26,0,0,1-.3-1.67,3.84,3.84,0,0,1,.3-1.6,2.27,2.27,0,0,1,.8-1,2,2,0,0,1,1.12-.33,1.71,1.71,0,0,1,1.17.42,2.28,2.28,0,0,1,.69,1.24l-.61.18c-.21-.79-.63-1.19-1.26-1.19a1.38,1.38,0,0,0-.81.24,1.64,1.64,0,0,0-.55.75,3.39,3.39,0,0,0-.21,1.28,3,3,0,0,0,.42,1.77,1.28,1.28,0,0,0,1.1.59,1.22,1.22,0,0,0,.88-.36A2,2,0,0,0,461,419.33Zm3.55,2v-.61a1.53,1.53,0,0,1-.47.53,1.21,1.21,0,0,1-1.3,0,1.1,1.1,0,0,1-.38-.55,3.65,3.65,0,0,1-.09-.91v-2.57h.57v2.3a3.94,3.94,0,0,0,.06.86.79.79,0,0,0,.24.35.71.71,0,0,0,.4.13.84.84,0,0,0,.68-.34,1.88,1.88,0,0,0,.23-1.08v-2.22h.57v4.15Zm2.45-.6.25,0,.08.62a1.77,1.77,0,0,1-.43.06.85.85,0,0,1-.48-.12.59.59,0,0,1-.26-.32,3.5,3.5,0,0,1-.07-.83v-2.38h-.42v-.55h.42v-1l.58-.42v1.45h.58v.55h-.58v2.42a1.28,1.28,0,0,0,.05.44.29.29,0,0,0,.28.14Zm.57-1.12v-.71h1.77v.71Zm2.41,1.72v-4.15h.52v.58a1.27,1.27,0,0,1,.44-.5,1,1,0,0,1,.59-.17.94.94,0,0,1,1,.72,1.56,1.56,0,0,1,.46-.54,1,1,0,0,1,.59-.18,1,1,0,0,1,.77.33,1.6,1.6,0,0,1,.28,1.06v2.85h-.57v-2.62a2.26,2.26,0,0,0-.06-.63.7.7,0,0,0-.21-.29.64.64,0,0,0-.33-.1.74.74,0,0,0-.61.3,1.45,1.45,0,0,0-.23.93v2.41H472v-2.7a1.23,1.23,0,0,0-.16-.73.5.5,0,0,0-.43-.21.75.75,0,0,0-.63.32,2.14,2.14,0,0,0-.22,1.16v2.16Zm7.79,0a1.53,1.53,0,0,1-.11-.51,2.23,2.23,0,0,1-.61.45,1.43,1.43,0,0,1-.64.15,1.11,1.11,0,0,1-.85-.32,1.17,1.17,0,0,1-.32-.86,1.34,1.34,0,0,1,.15-.64,1.13,1.13,0,0,1,.41-.43,2,2,0,0,1,.78-.23,4.15,4.15,0,0,0,1-.25v-.18a.94.94,0,0,0-.15-.6.84.84,0,0,0-.66-.25.91.91,0,0,0-.6.17,1.09,1.09,0,0,0-.29.63l-.57-.1a1.55,1.55,0,0,1,.49-1,1.65,1.65,0,0,1,1.06-.3,1.49,1.49,0,0,1,.84.2.84.84,0,0,1,.38.5,3.61,3.61,0,0,1,.08.86v.94a10.24,10.24,0,0,0,0,1.24,1.52,1.52,0,0,0,.15.5Zm-.16-2.08a3.79,3.79,0,0,1-.94.26,1.94,1.94,0,0,0-.51.14.54.54,0,0,0-.22.23.63.63,0,0,0-.08.34.63.63,0,0,0,.18.47.69.69,0,0,0,.51.18,1,1,0,0,0,.56-.16,1,1,0,0,0,.37-.43,1.77,1.77,0,0,0,.13-.78Zm1.48,2.08v-4.15h.52v.63a1.7,1.7,0,0,1,.36-.58.54.54,0,0,1,.38-.14,1,1,0,0,1,.59.22l-.2.65a.72.72,0,0,0-.42-.15.53.53,0,0,0-.33.13.73.73,0,0,0-.22.36,3.37,3.37,0,0,0-.11.86v2.17Zm2.2,0v-5.73h.57v3.27l1.37-1.69H484l-1.3,1.54,1.43,2.61h-.7l-1.13-2.13-.41.48v1.65Zm5.09-4.92v-.81H487v.81Zm0,4.92v-4.15H487v4.15Zm1.61,0v-3.6h-.51v-.55H488v-.44a1.89,1.89,0,0,1,.11-.73.73.73,0,0,1,.31-.38,1,1,0,0,1,.52-.13,2.14,2.14,0,0,1,.54.08l-.08.61a1.37,1.37,0,0,0-.34,0,.45.45,0,0,0-.37.13.89.89,0,0,0-.11.52v.38h.66v.55h-.66v3.6Zm4.52-.6.25,0,.08.62a1.77,1.77,0,0,1-.43.06.85.85,0,0,1-.48-.12.59.59,0,0,1-.26-.32,3.68,3.68,0,0,1-.06-.83v-2.38h-.43v-.55h.43v-1l.57-.42v1.45h.58v.55h-.58v2.42a1.28,1.28,0,0,0,0,.44.29.29,0,0,0,.28.14Zm2.22.11c.43,0,.73-.28.9-.85l.59.09a1.78,1.78,0,0,1-.53,1,1.4,1.4,0,0,1-1,.34,1.43,1.43,0,0,1-1.17-.55,2.48,2.48,0,0,1-.44-1.58,2.58,2.58,0,0,1,.45-1.64,1.38,1.38,0,0,1,1.14-.56,1.34,1.34,0,0,1,1.1.55,2.51,2.51,0,0,1,.44,1.61v.18h-2.54a1.8,1.8,0,0,0,.32,1.06.88.88,0,0,0,.71.35Zm-1-2h1.89a1.53,1.53,0,0,0-.23-.81.82.82,0,0,0-1.36-.06A1.3,1.3,0,0,0,493.78,418.87Zm2.84,2.47,1.24-2.16-1.14-2h.72l.51,1c.1.18.18.34.24.47l.26-.46.58-1h.68l-1.17,1.95,1.26,2.2h-.7l-.7-1.29-.19-.35-.89,1.64Zm4.68-.6.25,0,.08.62a1.77,1.77,0,0,1-.43.06.85.85,0,0,1-.48-.12.57.57,0,0,1-.25-.32,3,3,0,0,1-.07-.83v-2.38H500v-.55h.42v-1l.57-.42v1.45h.58v.55H501v2.42a1.28,1.28,0,0,0,0,.44.3.3,0,0,0,.28.14Zm2.78.6v-3.6h-.51v-.55h.51v-.4a1.58,1.58,0,0,1,.24-1,.81.81,0,0,1,.67-.3,1.81,1.81,0,0,1,.58.09l-.09.6a1.2,1.2,0,0,0-.31,0,.5.5,0,0,0-.41.14,1.21,1.21,0,0,0-.11.62v.27h.66v.55h-.66v3.6Zm1.67-4.92v-.81h.57v.81Zm0,4.92v-4.15h.57v4.15Zm2.48-.6.25,0,.08.62a1.77,1.77,0,0,1-.43.06.85.85,0,0,1-.48-.12.59.59,0,0,1-.26-.32,3.68,3.68,0,0,1-.06-.83v-2.38h-.43v-.55h.43v-1l.57-.42v1.45h.58v.55h-.58v2.42a1.28,1.28,0,0,0,.05.44.29.29,0,0,0,.28.14Zm2,.69a1.34,1.34,0,0,1-1.42-1.33l.58-.11a1,1,0,0,0,.27.65,1,1,0,0,0,1.18,0,.61.61,0,0,0,.21-.47.47.47,0,0,0-.18-.39,2.13,2.13,0,0,0-.58-.23,4.14,4.14,0,0,1-.9-.35,1,1,0,0,1-.35-.39,1.09,1.09,0,0,1-.13-.55,1.14,1.14,0,0,1,.34-.86,1.3,1.3,0,0,1,.94-.33,1.57,1.57,0,0,1,.67.13,1.08,1.08,0,0,1,.44.37,1.6,1.6,0,0,1,.21.66l-.56.09a.68.68,0,0,0-.74-.68.87.87,0,0,0-.56.15.48.48,0,0,0-.18.39.42.42,0,0,0,.17.36,3.61,3.61,0,0,0,.63.25,4.75,4.75,0,0,1,.92.36.91.91,0,0,1,.33.37,1.18,1.18,0,0,1,.12.55,1.27,1.27,0,0,1-.38,1,1.38,1.38,0,0,1-1,.37Z"
                transform="translate(-139.21 -121.71)"
              />
              <text class="cls-3" transform="translate(317.99 309.23)">
                margin line.
              </text>
            </>
            <text class="cls-3" transform="translate(317.99 328.43)">
              use
            </text>
            <text class="cls-4" transform="translate(330.39 328.43)">
              next
            </text>
            <text class="cls-3" transform="translate(343.87 328.43)">
              <tspan xml:space="preserve"> cut/margin box.</tspan>
            </text>
            <>
              <path
                class="cls-1"
                d="M457.83,440.54v-5.73h.62v5.73Zm1.78,0v-3.6h-.51v-.55h.51V436a1.93,1.93,0,0,1,.1-.73.78.78,0,0,1,.31-.38,1.06,1.06,0,0,1,.53-.13,2.28,2.28,0,0,1,.54.08l-.09.61a1.37,1.37,0,0,0-.34,0,.43.43,0,0,0-.36.13.81.81,0,0,0-.12.52v.38h.67v.55h-.67v3.6Zm4.52-.6.25,0,.08.62a1.84,1.84,0,0,1-.43.06.91.91,0,0,1-.49-.12.61.61,0,0,1-.25-.32,3.5,3.5,0,0,1-.07-.83v-2.38h-.42v-.55h.42v-1l.58-.42v1.45h.58v.55h-.58v2.42a1.07,1.07,0,0,0,.05.44.29.29,0,0,0,.28.14Zm2.21.11c.44,0,.74-.28.91-.85l.59.09a1.79,1.79,0,0,1-.54,1,1.39,1.39,0,0,1-1,.34,1.43,1.43,0,0,1-1.17-.55,2.42,2.42,0,0,1-.45-1.58,2.58,2.58,0,0,1,.45-1.64,1.4,1.4,0,0,1,1.15-.56,1.35,1.35,0,0,1,1.1.55,2.57,2.57,0,0,1,.44,1.61v.18h-2.54a1.8,1.8,0,0,0,.32,1.06.86.86,0,0,0,.7.35Zm-1-2h1.9a1.63,1.63,0,0,0-.23-.81.84.84,0,0,0-.71-.39.82.82,0,0,0-.66.33A1.42,1.42,0,0,0,465.35,438.07Zm2.84,2.47,1.25-2.16-1.15-2H469l.52,1c.1.18.18.34.24.47.1-.18.18-.33.26-.46l.57-1h.69l-1.18,1.95,1.27,2.2h-.71l-.7-1.29-.18-.35-.9,1.64Zm4.69-.6.25,0,.08.62a1.77,1.77,0,0,1-.43.06.85.85,0,0,1-.48-.12.59.59,0,0,1-.26-.32,3.5,3.5,0,0,1-.07-.83v-2.38h-.42v-.55H472v-1l.58-.42v1.45h.58v.55h-.58v2.42a1.28,1.28,0,0,0,.05.44.29.29,0,0,0,.28.14Zm2.77.6v-3.6h-.51v-.55h.51V436a1.52,1.52,0,0,1,.25-1,.8.8,0,0,1,.66-.3,1.87,1.87,0,0,1,.59.09l-.1.6a1.15,1.15,0,0,0-.31,0,.47.47,0,0,0-.4.15,1,1,0,0,0-.11.61v.27h.66v.55h-.66v3.6Zm1.67,0v-5.73h.57v5.73Zm1.24-2.08a2.52,2.52,0,0,1,.45-1.62,1.47,1.47,0,0,1,2.28,0,2.44,2.44,0,0,1,.46,1.58,2.6,2.6,0,0,1-.45,1.67,1.48,1.48,0,0,1-2.29,0A2.48,2.48,0,0,1,478.56,438.46Zm.59,0a2,2,0,0,0,.29,1.2.89.89,0,0,0,.73.39.87.87,0,0,0,.7-.39,2.08,2.08,0,0,0,.29-1.2,2,2,0,0,0-.3-1.19.87.87,0,0,0-.72-.4.85.85,0,0,0-.7.4A2,2,0,0,0,479.15,438.46Zm3.9,2.08-1-4.15h.59l.55,2.39.2.89.18-.85.54-2.43h.59l.51,2.41.17.79.19-.8.58-2.4h.57l-1.07,4.15H485l-.54-2.49-.13-.7-.69,3.19Zm5.31.09a1.33,1.33,0,0,1-1.42-1.33l.57-.11a1.06,1.06,0,0,0,.28.65.84.84,0,0,0,.6.21.86.86,0,0,0,.58-.18.6.6,0,0,0,.2-.47A.49.49,0,0,0,489,439a2.25,2.25,0,0,0-.59-.23,4.14,4.14,0,0,1-.9-.35,1,1,0,0,1-.35-.39,1.2,1.2,0,0,1-.12-.55,1.14,1.14,0,0,1,.34-.86,1.28,1.28,0,0,1,.94-.33,1.53,1.53,0,0,1,.66.13,1,1,0,0,1,.44.37,1.46,1.46,0,0,1,.21.66l-.56.09a.68.68,0,0,0-.74-.68.89.89,0,0,0-.56.15.48.48,0,0,0-.18.39.43.43,0,0,0,.18.36,3.74,3.74,0,0,0,.62.25,4.66,4.66,0,0,1,.93.36.91.91,0,0,1,.33.37,1.31,1.31,0,0,1,.11.55,1.27,1.27,0,0,1-.37,1,1.42,1.42,0,0,1-1,.37Zm4.43-.09h-.53v-5.73h.58v2a1.5,1.5,0,0,1,.41-.42,1,1,0,0,1,.52-.13,1.21,1.21,0,0,1,.72.23,1.6,1.6,0,0,1,.53.73,3.12,3.12,0,0,1,.19,1.17,2.64,2.64,0,0,1-.44,1.63,1.29,1.29,0,0,1-1,.57,1,1,0,0,1-.54-.15,1.42,1.42,0,0,1-.41-.46Zm0-2.11a3,3,0,0,0,.12,1,1.18,1.18,0,0,0,.33.49.79.79,0,0,0,.48.16.76.76,0,0,0,.63-.4,2,2,0,0,0,.28-1.19,2.09,2.09,0,0,0-.27-1.2.76.76,0,0,0-.65-.39.81.81,0,0,0-.64.4A2.09,2.09,0,0,0,492.78,438.43Zm4.56,1.62c.43,0,.73-.28.9-.85l.59.09a1.79,1.79,0,0,1-.54,1,1.38,1.38,0,0,1-1,.34,1.43,1.43,0,0,1-1.17-.55,2.42,2.42,0,0,1-.45-1.58,2.52,2.52,0,0,1,.46-1.64,1.38,1.38,0,0,1,1.14-.56,1.34,1.34,0,0,1,1.1.55,2.57,2.57,0,0,1,.44,1.61v.18h-2.54a1.8,1.8,0,0,0,.32,1.06.87.87,0,0,0,.71.35Zm-1-2h1.9a1.53,1.53,0,0,0-.23-.81.83.83,0,0,0-.71-.39.85.85,0,0,0-.66.33A1.42,1.42,0,0,0,496.34,438.07Zm3.2,2.47v-5.73h.58v5.73Zm1.26-2.08a2.52,2.52,0,0,1,.45-1.62,1.47,1.47,0,0,1,2.28,0,2.44,2.44,0,0,1,.46,1.58,2.6,2.6,0,0,1-.45,1.67,1.48,1.48,0,0,1-2.29,0A2.48,2.48,0,0,1,500.8,438.46Zm.59,0a2,2,0,0,0,.29,1.2.89.89,0,0,0,.73.39.87.87,0,0,0,.7-.39,2.08,2.08,0,0,0,.29-1.2,2,2,0,0,0-.3-1.19.87.87,0,0,0-.72-.4.85.85,0,0,0-.7.4A2,2,0,0,0,501.39,438.46Zm3.9,2.08-1-4.15h.59l.55,2.39.2.89.18-.85.54-2.43h.59l.51,2.41.17.79.19-.8.58-2.4h.57l-1.07,4.15h-.6l-.54-2.49-.13-.7-.69,3.19Zm5.94,0v-4.15h.51V437a1.37,1.37,0,0,1,.45-.5,1,1,0,0,1,.58-.17,1,1,0,0,1,.61.18,1,1,0,0,1,.35.54,1.69,1.69,0,0,1,.47-.54,1,1,0,0,1,.59-.18,1,1,0,0,1,.77.33,1.6,1.6,0,0,1,.28,1.06v2.85h-.57v-2.62a1.86,1.86,0,0,0-.07-.63A.56.56,0,0,0,515,437a.58.58,0,0,0-.32-.1.74.74,0,0,0-.61.3,1.44,1.44,0,0,0-.24.93v2.41h-.57v-2.7a1.23,1.23,0,0,0-.16-.73.5.5,0,0,0-.43-.21.73.73,0,0,0-.63.32,2.12,2.12,0,0,0-.23,1.16v2.16Zm7.79,0a1.82,1.82,0,0,1-.12-.51,2.05,2.05,0,0,1-.6.45,1.47,1.47,0,0,1-.65.15,1.1,1.1,0,0,1-.84-.32,1.17,1.17,0,0,1-.32-.86,1.34,1.34,0,0,1,.15-.64,1.11,1.11,0,0,1,.4-.43,2.13,2.13,0,0,1,.79-.23,4.27,4.27,0,0,0,1-.25v-.18a.94.94,0,0,0-.15-.6.84.84,0,0,0-.66-.25.91.91,0,0,0-.6.17,1.09,1.09,0,0,0-.3.63l-.56-.1a1.55,1.55,0,0,1,.49-1,1.62,1.62,0,0,1,1-.3,1.45,1.45,0,0,1,.84.2.82.82,0,0,1,.39.5,3.61,3.61,0,0,1,.08.86v.94a10.24,10.24,0,0,0,0,1.24,1.78,1.78,0,0,0,.14.5Zm-.16-2.08a3.79,3.79,0,0,1-.94.26,1.72,1.72,0,0,0-.51.14.63.63,0,0,0-.23.23.74.74,0,0,0-.08.34.6.6,0,0,0,.19.47.68.68,0,0,0,.5.18,1,1,0,0,0,.94-.59,1.77,1.77,0,0,0,.13-.78Zm1.48,2.08v-4.15h.52V437a1.7,1.7,0,0,1,.36-.58.54.54,0,0,1,.38-.14,1,1,0,0,1,.59.22l-.2.65a.72.72,0,0,0-.42-.15.53.53,0,0,0-.33.13.67.67,0,0,0-.22.36,3.37,3.37,0,0,0-.11.86v2.17Zm2.07.34.56.1a.74.74,0,0,0,.23.5.86.86,0,0,0,.55.16.93.93,0,0,0,.6-.18,1,1,0,0,0,.31-.54,5.5,5.5,0,0,0,.05-.92,1.43,1.43,0,0,1-.42.4,1,1,0,0,1-.52.14,1.2,1.2,0,0,1-1-.52,2.49,2.49,0,0,1-.47-1.59,3.05,3.05,0,0,1,.21-1.17,1.6,1.6,0,0,1,.53-.73,1.23,1.23,0,0,1,.74-.23,1.15,1.15,0,0,1,.55.14,1.36,1.36,0,0,1,.44.45v-.5h.53V440a4,4,0,0,1-.16,1.36,1.31,1.31,0,0,1-.51.65,1.54,1.54,0,0,1-.85.23,1.42,1.42,0,0,1-1-.35A1.29,1.29,0,0,1,522.41,440.88Zm.47-2.49a2,2,0,0,0,.27,1.19.82.82,0,0,0,.67.38.79.79,0,0,0,.66-.37,2,2,0,0,0,.28-1.17,1.92,1.92,0,0,0-.29-1.16.81.81,0,0,0-.68-.39.77.77,0,0,0-.63.39A1.94,1.94,0,0,0,522.88,438.39Zm3.29-2.77v-.81h.57v.81Zm0,4.92v-4.15h.57v4.15Zm1.46,0v-4.15h.51V437a1.36,1.36,0,0,1,.46-.51,1.1,1.1,0,0,1,.63-.17,1.18,1.18,0,0,1,.5.1,1.2,1.2,0,0,1,.37.28,1.16,1.16,0,0,1,.22.46,4.12,4.12,0,0,1,.07.85v2.55h-.58V438a1.89,1.89,0,0,0-.08-.67.61.61,0,0,0-.24-.32.64.64,0,0,0-.38-.12.78.78,0,0,0-.66.31,1.7,1.7,0,0,0-.25,1.06v2.27Zm5.45,0v-5.73h.57v5.73Zm1.47-4.92v-.81h.58v.81Zm0,4.92v-4.15h.58v4.15Zm1.46,0v-4.15h.52V437a1.28,1.28,0,0,1,.46-.51,1.09,1.09,0,0,1,.62-.17,1.18,1.18,0,0,1,.5.1,1.25,1.25,0,0,1,.38.28,1.31,1.31,0,0,1,.21.46,3.51,3.51,0,0,1,.07.85v2.55h-.57V438a2.16,2.16,0,0,0-.08-.67.58.58,0,0,0-.25-.32.62.62,0,0,0-.38-.12.78.78,0,0,0-.66.31,1.77,1.77,0,0,0-.25,1.06v2.27Zm5.07-.49c.43,0,.73-.28.9-.85l.6.09a1.79,1.79,0,0,1-.54,1,1.52,1.52,0,0,1-2.13-.21,2.42,2.42,0,0,1-.45-1.58,2.58,2.58,0,0,1,.45-1.64,1.38,1.38,0,0,1,1.14-.56,1.34,1.34,0,0,1,1.1.55,2.51,2.51,0,0,1,.44,1.61v.18h-2.54a1.8,1.8,0,0,0,.33,1.06.85.85,0,0,0,.7.35Zm-1-2H542a1.74,1.74,0,0,0-.23-.81.86.86,0,0,0-.71-.39.82.82,0,0,0-.66.33A1.42,1.42,0,0,0,540.09,438.07Zm5,2.47v-5.73h.57v2.06a1.43,1.43,0,0,1,.46-.43,1.23,1.23,0,0,1,1.42.2,1.91,1.91,0,0,1,.32,1.27v2.63h-.58v-2.63a1.19,1.19,0,0,0-.19-.77.62.62,0,0,0-.52-.24.81.81,0,0,0-.64.3,1.62,1.62,0,0,0-.27,1.07v2.27Zm5.07-.49c.43,0,.73-.28.9-.85l.6.09a1.79,1.79,0,0,1-.54,1,1.52,1.52,0,0,1-2.13-.21,2.42,2.42,0,0,1-.45-1.58,2.58,2.58,0,0,1,.45-1.64,1.38,1.38,0,0,1,1.14-.56,1.34,1.34,0,0,1,1.1.55,2.51,2.51,0,0,1,.44,1.61v.18h-2.54a1.8,1.8,0,0,0,.33,1.06.85.85,0,0,0,.7.35Zm-1-2h1.9a1.62,1.62,0,0,0-.24-.81.82.82,0,0,0-1.36-.06A1.42,1.42,0,0,0,549.21,438.07Zm3.22,2.47v-4.15h.51V437a1.86,1.86,0,0,1,.37-.58.52.52,0,0,1,.37-.14,1,1,0,0,1,.59.22l-.19.65a.77.77,0,0,0-.42-.15.58.58,0,0,0-.34.13.72.72,0,0,0-.21.36,3.37,3.37,0,0,0-.11.86v2.17Zm3.6-.49c.43,0,.73-.28.9-.85l.6.09a1.79,1.79,0,0,1-.54,1,1.39,1.39,0,0,1-1,.34,1.43,1.43,0,0,1-1.17-.55,2.42,2.42,0,0,1-.45-1.58,2.58,2.58,0,0,1,.45-1.64,1.42,1.42,0,0,1,2.25,0,2.57,2.57,0,0,1,.44,1.61v.18H555a1.88,1.88,0,0,0,.33,1.06.85.85,0,0,0,.7.35Zm-1-2h1.9a1.74,1.74,0,0,0-.23-.81.84.84,0,0,0-.71-.39.82.82,0,0,0-.66.33A1.42,1.42,0,0,0,555,438.07Zm3.39,2.47v-.8h.65v.8a1.51,1.51,0,0,1-.14.73.94.94,0,0,1-.39.4l-.16-.3a.64.64,0,0,0,.26-.28,1.46,1.46,0,0,0,.1-.55Z"
                transform="translate(-139.21 -121.71)"
              />
              <text class="cls-3" transform="translate(345.19 254.91)">
                Margin line
              </text>
            </>
            <line
              class="cls-5"
              x1="305.39"
              y1="268.89"
              x2="341.39"
              y2="256.44"
            />
            <line
              class="cls-5"
              x1="311.99"
              y1="284.49"
              x2="315.59"
              y2="301.15"
            />
            <line
              class="cls-5"
              x1="311.74"
              y1="284.43"
              x2="307.65"
              y2="287.29"
            />
            <line
              class="cls-5"
              x1="311.74"
              y1="284.02"
              x2="315.83"
              y2="285.86"
            />
            <line
              class="cls-5"
              x1="305.31"
              y1="268.53"
              x2="305.31"
              y2="265.78"
            />
            <text class="cls-4" transform="translate(288.56 24.52)">
              TIP:
            </text>
            <text class="cls-3" transform="translate(300.95 24.52)">
              <tspan xml:space="preserve"> Use a blade and ruler and </tspan>
            </text>
            <text class="cls-3" transform="translate(288.56 34.12)">
              don’t cut “all the way” . Don’t use{" "}
            </text>
            <>
              <line
                class="cls-5"
                x1="305.31"
                y1="268.53"
                x2="309.39"
                y2="271.28"
              />
              <text class="cls-3" transform="translate(288.56 43.72)">
                the guillotine, but perforating rotary cutter is ok{" "}
              </text>
            </>
            <line
              class="cls-5"
              x1="335.17"
              y1="330.78"
              x2="309.77"
              y2="376.48"
            />
            <line
              class="cls-5"
              x1="308.47"
              y1="372.29"
              x2="309.79"
              y2="376.77"
            />
            <line
              class="cls-5"
              x1="309.27"
              y1="376.77"
              x2="312.99"
              y2="376.05"
            />
            <path
              class="cls-6"
              d="M438.21,392.21h5m-5.5,11.5v-12m.5,107.5h5m-5.5,11.5v-12m1.5,108.5h5m-5.5,11.5v-12m-264.5.5h-5m5.5,11.5v-12m.5-107.5h-5m5.5,11.5v-12m-1.5-106.5h-5m5.5,11.5v-12m245,280v-36m54.5-17.5h-36m36-215h-36m-299,0h36m299,107h-36m-299,0h36m299-334h-36m-18.5-54.5v36m-227,514v-36m-53.5-17.5h36m-36-442h36m17.5-54.5v36"
              transform="translate(-139.21 -121.71)"
            />
            <text
              class="cls-7"
              style="color:red; font-weight: bold"
              transform="translate(65.5 75.09)"
            >
              {product.data.title}
            </text>
            <foreignObject
              width="53mm"
              height="148mm"
              transform="translate(65.5 75.09)"
            >
            <p
                xmlns="http://www.w3.org/1999/xhtml"
                style="color:currentColor; font-size:7px; font-style: italic"
                class="cls-12"
              >
                {product.data.materials}
              </p>
              <p
                xmlns="http://www.w3.org/1999/xhtml"
                style="color:currentColor; font-size:6px; font-weight: bold"
                class="cls-12"
              >
                {product.data.provenance}
              </p>              <div
                xmlns="http://www.w3.org/1999/xhtml"
                encoding="UTF-8"
                style="color:currentColor"
                class="cls-12"
                style="font-size:6pt !important"
              >
                <p set:html={product.rendered} />
              </div>
            </foreignObject>
          </svg>
        </>
      ))
    }
  </body>
</html>
